[project]
	description = A managed core library that helps to manage global (system-wide) hotkeys on Windows platform.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/trustsoft (trustsoft)
[access "refs/for/refs/*"]
	read = group user/trustsoft (trustsoft)
	push = group user/trustsoft (trustsoft)
	label-Code-Review = -2..+2 group user/trustsoft (trustsoft)
	label-Verified = -1..+1 group user/trustsoft (trustsoft)
	rebase = group user/trustsoft (trustsoft)
	removeReviewer = group user/trustsoft (trustsoft)
	submit = group user/trustsoft (trustsoft)
[access "refs/heads/*"]
	read = group user/trustsoft (trustsoft)
	create = group user/trustsoft (trustsoft)
	push = +force group user/trustsoft (trustsoft)
	pushMerge = group user/trustsoft (trustsoft)
[access "refs/tags/*"]
	push = +force group user/trustsoft (trustsoft)
	pushTag = group user/trustsoft (trustsoft)
	pushSignedTag = group user/trustsoft (trustsoft)
